<div class="container mt-5">

   <mat-form-field class="w-100" appearance="outline">
      <mat-label>Search any product</mat-label>
      <input 
      #searchkeyword
      (keyup)="searchByKeyword(searchkeyword.value)"
      ngModel
      name="searchKey"
      id="searchKey" matInput placeholder="Search any product">
  </mat-form-field>
  
   <mat-grid-list cols="4" rowHeight="2:3" gutterSize="10">
      <mat-grid-tile *ngFor="let p of productDetails">
         <div class="row p-5" >

            <div class="image-container">
            <img class="home-page-product-image"  [src]="p.productImages[0].url" alt="">
         </div>
            <div class="mt-3">
               <p> <b>{{p.productName}}</b></p>
            </div>

               <div class="mt-3">
               <p style="white-space: inherit; height:40px;width:200px;overflow:hidden; text-overflow:ellipsis;">{{p.productDescription}}</p>

            </div>

            <div class="mt-2">
               <p>Rs . {{p.productDiscountedPrice}}  <b style="text-decoration: line-through;">{{p.productActualPrice}}</b> </p>
            </div>

            <div class="mt-1">
               <button (click)="viewDetails(p.productId)" type="button" color="warn" mat-raised-button>View Details</button>
            </div>
            
         </div>


      </mat-grid-tile>

    </mat-grid-list>


    <div class="text-center mt-5" style="padding-bottom: 80px;"  *ngIf="showLoadButton">
      <button (click)="loadMoreProducts()"  mat-raised-button color="primary" type="button">Load More</button>
    </div>

 
</div>
